.App {
  background-color: #11329e;
  min-height: 100vh;
  display: flex;
  padding: 1em;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

div.not-selected-state {
  background-color: rgb(104, 174, 231);
  cursor: pointer;
  width: 3.5em;
  height: 3.5em;
  color: white;
  border-radius: 0.5em;
  box-shadow: 0 3px 5px 2px rgba(33, 203, 243, 0.3);
}

.not-selected-state:hover {
  box-shadow: 0px 0px 5px #00ffff;
}

div.selected-state {
  border-color: rgb(104, 174, 231);
  cursor: pointer;
  width: 3.5em;
  height: 3.5em;
  border-radius: 10px;
  box-shadow: 0 3px 5px 2px rgba(33, 203, 243, 0.3);
}

button.button-measure {
  background: #07dacf;
  border-radius: 100%;
  border: 0px;
  color: white;
  width: 4em;
  height: 4.5em;
  box-shadow: 0 3px 5px 2px rgba(33, 203, 243, 0.3);
  transition: all 0.3s ease 0s;
  font-weight: bold;
  margin: 1em;
}

button.button-measure:hover {
  background: #07dacf;
  transform: translateY(-7px);
  box-shadow: 0 3px 5px 2px rgba(33, 203, 243, 0.3);
}

button.bin {
  background-color: #38e1d8;
  position: "absolute";
  transition: all 0.3s ease 0s;
  box-shadow: 0 3px 5px 2px rgba(33, 203, 243, 0.3);
}

button.bin:hover {
  transform: translateY(-7px);
  background: #38e1d8;
  box-shadow: 0 3px 5px 2px rgba(33, 203, 243, 0.3);
}

div.gate-wrapper {
  margin-right: 1em;
  text-align: -webkit-center;
}

@keyframes gatesFadeIn {
  0% {
    fill: transparent;
  }
}

.gateRect {
  animation: 2s ease-out 0s 1 gatesFadeIn;
}

@keyframes gateLineFadeIn {
  0% {
    stroke: transparent;
  }
}
.circuitLine {
  animation: 5s ease-out 0s 1 gateLineFadeIn;
}

div.gate {
  width: 4em;
  height: 4em;
}

div.gate-text {
  padding-top: 30%;
  font-weight: bold;
  color: white;
}

div.gate:hover {
  background: #3f51b5;
  box-shadow: 0 3px 5px 2px rgba(33, 203, 243, 0.3);
}

button.gate img {
  top: 50%;
  left: 50%;
}

button.MuiButton-root {
  text-transform: none;
}

.H,
.S,
.T,
.CNOT {
  background-color: #ff3e88;
  fill: #ff3e88;
}

.X,
.Y,
.Z {
  background-color: rgb(253, 184, 19);
  fill: rgb(253, 184, 19);
}

.Rx,
.Ry,
.Rz {
  background-color: rgb(104, 174, 231);
  fill: rgb(104, 174, 231);
}

div.MuiGrid-container {
  justify-content: center;
}

div.MuiGrid-grid-xs-8 {
  flex-basis: 0%;
}

div.qubitGrid {
  text-align: end;
}

div.circuit {
  margin-top: 2em;
}

div.MuiListItemIcon-root {
  color: white;
}

hr.MuiDivider-root {
  background-color: grey;
  margin: 0 1em 0 1em;
}

#circuitGrid {
  padding: 5px;
  max-width: 60vw;
}

div.circuitWrapper{
  overflow: auto
}

div.paper {
  padding: 12px;
  text-align: center;
  border-radius: 0;
}

div.container{
  padding-top:32px;
  padding-bottom: 32px;
  justify-content: center;
  text-align: -webkit-center;
}
main {
  flex-grow: 1; height: 100vh; overflow: auto
}

div.appBarSpacer{
  min-height: 64px
}

div.wrapper{
  display: flex
}