div.gate-wrapper {
  margin-right: 1em;
  text-align: -webkit-center;
}

@keyframes gatesFadeIn {
  0% {
    fill: transparent;
  }
}

.gateRect {
  animation: 2s ease-out 0s 1 gatesFadeIn;
}

@keyframes gateLineFadeIn {
  0% {
    stroke: transparent;
  }
}
.circuitLine {
  animation: 5s ease-out 0s 1 gateLineFadeIn;
}

.H,
.S,
.CNOT {
  background-color: #7c4dff;
  fill: #7c4dff;
}

.T {
  background-color: #e040fb;
  fill: #e040fb;
}

.X,
.Y,
.Z {
  background-color: rgb(253, 184, 19);
  fill: rgb(253, 184, 19);
}

.Rx,
.Ry,
.Rz {
  background-color: #40c4ff;
  fill: #40c4ff;
}

div.paper {
  padding: 2em;
  text-align: center;
  border-radius: 0;
}

div.MuiGrid-container {
  justify-content: center;
}

div.MuiGrid-grid-xs-8 {
  flex-basis: 0%;
}

div.MuiGrid-root.qubitGrid {
  padding-left:3em;
}

div.circuit {
  margin-top: 2em;
}

div.MuiListItemIcon-root {
  color: white;
}

hr.MuiDivider-root {
  background-color: grey;
  margin: 0 1em 0 1em;
}

#circuitGrid {
  padding: 5px;
  max-width: 40vw;
}

div.MuiToolbar-gutters,
a.MuiListItem-gutters {
  padding-left: 1em;
}

svg.MuiSvgIcon-root {
  font-size: 1.4rem;
}

h2.MuiTypography-root{
  font-family: 'Source Code Pro', monospace;
  font-weight:bold;
  letter-spacing: -0.03em;
}

button.MuiTab-root {
  background-color: transparent;
  min-width: 9em;
  min-height:2em;
  font-family: 'Source Code Pro', monospace;
  font-weight:bold;
  letter-spacing: -0.03em;
  text-transform: none;
  opacity:1;
  color: black;
  border-radius: 0em;
}

div.MuiTabs-root {
  width:30vw;
  min-height: 0em;
}

span.MuiTabs-indicator{
  background-color:#07dacf;
  left: 1em;
  width: 7em;
}

div.MuiTypography-root  {
  font-family: 'Source Code Pro', monospace;
  font-size: 1em;
}